<h1>Create Post</h1>

<% if @errors %>
  <%= render '/errors' %>
<% end %>

<%= form_tag(user_posts_path, multipart: true, method: "post") do %>

  <%= label_tag(:image, "Image:") %>
  <%= file_field_tag(:image) %>

  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>

  <%= label_tag(:body, "Body:") %>
  <%= text_field_tag(:body) %>


  <%= submit_tag("Submit") %>
<% end %>